---
import "../styles/main.css"
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!DOCTYPE html>
<html>
<head>
<title>Root2 Ventures</title>
<style>


</style>
</head>
<body>

<div class="triangle"></div>

<Layout>
	<h1>Root2 Ventures</h1>
	<h2>Investor | Advisor | Board Member</h2>
	<p>Supporting Deep Tech and FinTech Startups as well as Visionary Founders </p>
	<p>Full Website Coming Soon</p>
	<p1> Get in Contact:</p1><p2> Info@root2ventures.com </p2>
	<p> </p>
	<p>"The reasonable man adapts himself to the world: the unreasonable one persists in trying to adapt the world to himself.<br />Therefore all progress depends on the unreasonable man."<br />-  George Bernard Shaw</p>
</Layout>


</body>
</html>



